a:link {text-decoration:none;}


h1 {color:red;
    font-size: xx-large;
    background-color: blue;

}

h2 {color:orange;}


#ab
{ color:orange;
  background-color:palevioletred;
}

b {margin-left: 30px;}

#p1 {background-color: yellow}

#a1{background-color: rgb(100, 237, 203);}

p.normal  {font-style: normal;}
p.italic  {font-style: italic;}  /* 斜体 */
p.oblique {font-style: oblique;} /* 斜体 */