body { font-family : Times New Roman; font-size: 16px}

a:link{color:#0000cd; text-decoration:none; font-family:Arial;}
a:visited{color:#0000cd; text-decoration:none;}
a:active{color:#0000cd; text-decoration:none;}
a:Hover {text-decoration:none; color:#62bbe7;}

.h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: none;
    line-height: 130%;
    letter-spacing: 4px;
    padding-left: 0em;
    color : navy;  }
.h2 {
    font-family: 'Times New Roman', Times,serif;
    font-size: 20px;
    line-height: 130%;
    padding-left:0em;
   }

ul { list-style-type: disc;
     margin-top:5pt;
     margin-left:12pt;
     padding-left:15pt;
     margin-bottom:5pt;
     list-style-image: url(images/ball10pt.gif);
    }

ul.demo {
     list-style-type: none;
     margin:0;
     padding:0;
   }


li { line-height: 160%;
     font-weight: normal;
     vertical-align: top}
.lipaper { line-height: 125%;
     margin-top: 5pt; }
.td1 {
     font-family: 'Times New Roman', Times,serif;
     line-height: 150%;
     padding-top: 8px;
     font-weight: none;
     text-align: left }
.menu {
     font-family: 'Times New Roman', Times, serif;
     margin-left: 3pt;}

.menu a{text-decoration:none;}







