<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成绩查询</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>成绩查询</h1>
    <form action="/query" method="post">
        <label for="name">请输入学生姓名：</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">查询</button>
    </form>
    {% if result %}
        <div>
            <p>{{ result|safe}}</p>
        </div>
    {% endif %}
</body>
</html>
